  
        body{
            transition: 1s ease-in;
            
            opacity: 0;
    
        } 

    


        body.loadbre{
             background: rgba(2, 14, 14, 0.922);
             background-repeat: no-repeat;
            background-blend-mode: multiply;
            background-size: cover;
            background: url("img/school.jpg");
            background-attachment: fixed;
             opacity: 1;

        }
        table{
        border: 1px black solid;}
        th{
            border: 1px black solid;
        }
        tr{
            border: 1px black solid;
        }

        td{
            border: 1px black solid;

        }

        .table_container{
            font: bold;
            background:linear-gradient(to bottom,rgba(206, 131, 253, 0.868),rgba(152, 172, 223, 0.667));
        border: solid 2px rgb(9, 9, 120);
        border-radius: 30px;


        }
        .table_margin{
            margin: 30px;
        }

        .judul{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
             justify-content: center;
            padding:3px;
            border: solid rgb(0, 69, 217) 2px;
            border-radius: 40px;
            background:linear-gradient(to bottom,rgb(206, 131, 253),rgb(152, 172, 223))
        }

        .gbg {
         width: 26px;
            height: 26px;
            vertical-align: middle; 
            margin-right: 0px; 
}
    .pencil{
        width: 16px;
        height: 16px;
        vertical-align: middle; 
        margin-right: 5px; 

        }
        .action{
            
            margin: 0px auto;
            
        }
    